<ul class="nav nav-tabs">
  <li> <%= link_to tag_icon(:list, pat(:list)), url(:recreations, :index) %></li>
  <li> <%= link_to tag_icon(:plus, pat(:new)), url(:recreations, :new) %></li>
  <li class="active"> <%= link_to tag_icon(:edit, pat(:edit)), url(:recreations, :edit, :id => @recreation.id) %></li>
</ul>
<div class="tabs-content">
  <% form_for :recreation, url(:recreations, :update, :id => @recreation.id), :method => :put, :class => 'form-horizontal' do |f| %>
    <%= partial 'recreations/form', :locals => { :f => f } %>
  <% end %>
</div>
