<!DOCTYPE html>
<html lang="en-US">
  <head>
    <title>Reservations 2.0</title>
    <%= javascript_include_tag 'bootstrap.min', 'jquery', 'jquery-ujs' %>
    <%= stylesheet_link_tag 'bootstrap', 'bootstrap-theme' %>
  </head>
  <body>
    <%= yield %>
  </body>
</html>