$green-color: #5cb85c;
$red-color: #d9534f;

$navbar-height: 100px;

@media (min-width: 1600px) {
  .col-xl-2 {
    width: 20%;
  }
}

.navbar {

  hr {
    border: 0;
    height: 1px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0));
    margin: 0;
  }

  .navbar-nav {
    margin: 0 !important;

    .navbar-brand {
      padding-left: 0 !important;
      margin-left: 0 !important;
    }
  }

  .navbar-links {
    display: flex;
    display: -moz-flex;
    display: -webkit-flex;

    float: none;

    .navbar-module {
      white-space: nowrap;
      flex: inherit;
      overflow: hidden;

      a {
        -ms-text-overflow: ellipsis;
        text-overflow: ellipsis;
        overflow: hidden;
      }
    }

    li > a {
      padding-top: 10px !important;
      padding-bottom: 10px !important;
    }
  }

  .navbar-right {
    margin-right: 5px !important;
  }
}

div[data-control="alert-container"] {
  position: fixed;
  z-index: 10000;
  left: 0;
  right: 0;
  bottom: 10px;
  margin: 0 5%;

  .alert {
    margin-bottom: 10px;
  }
}

div[data-control="main"] {
  padding-top: $navbar-height;
}

div[data-control="footer"] {
  border-top: 1px;
}

.reservations-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  grid-gap: 30px;
  margin: 0 15px;
}

[data-control="anchor-target"] {
  position: relative;
  border-top: $navbar-height solid transparent;
  margin-top: -$navbar-height;
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding;
  background-clip: padding-box;

  @for $i from 1 through 100 {
    &:nth-child(#{$i}) {
      z-index: #{100 - $i};
    }
  }

  &:before {
    content: ' ';
    position: absolute;
    top: -1px;
    left: 0;
    right: 0;
    border-top: 1px solid transparent;
  }
}



span[data-control="display-name"] {
  font-size: 14px;
  margin-left: 10px;
  margin-right: 10px;
}

button[data-control="reserve-action"] {

  display: flex;

  span[data-control="display-name"] {
    overflow-x: hidden;
    text-overflow: ellipsis;
  }

  span[data-control*="reserve-action-icon"] {
    color: $green-color;
    margin-left: auto;
    font-size: 18px;

    &[data-control*="reserve-action-icon-cancel"] {
      color: $red-color;
    }
  }

  &.disabled span[data-control*="reserve-action-icon"] {
    visibility: hidden;
  }
}
