<%= f.hidden_field :time %>
<%= f.hidden_field :recreation_id %>
<button type="submit" data-control="reserve-action" class="btn-block list-group-item <% if not_available? @reservation %>disabled<% end %>" <% if not_available? @reservation %>disabled<% end %>>
  <span><%= @reservation.time.strftime("%H:%M") %></span>
  <% if !@reservation.user.nil? %><span data-control="display-name" class="label label-info"><%= @reservation.user.display_name %></span><% end %>
  <% if already_taken? @reservation %>
    <span data-control="reserve-action-icon-cancel" class="glyphicon glyphicon-remove-sign" aria-hidden="true"></span>
  <% else %>
    <span data-control="reserve-action-icon-ok" class="glyphicon glyphicon-plus-sign" aria-hidden="true"></span>
  <% end %>
</button>