<div class="container">
  <div class="row">
    <% for @recreation in @recreations %>
        <div class="col-sm-auto">
          <div class="thumbnail">
            <img src="images/<%= @recreation.name %>"/>
            <div class="caption">
              <h4><%= @recreation.name %></h4>
            </div>
            <ul class="list-group">
              <% for @reservation in @reservations[@recreation.name] %>
                <% if already_taken? @reservation %>
                  <% form_for :reservation, url(:reservation, :destroy, :id => @reservation.id), :method => :delete do |f| %>
                    <%= partial 'reservation/form', :locals => { :f => f } %>
                  <% end %>
                <% else %>
                  <% form_for :reservation, url(:reservation, :create) do |f| %>
                    <%= partial 'reservation/form', :locals => { :f => f } %>
                  <% end %>
                <% end %>
              <% end %>
            </ul>
          </div>
        </div>
    <% end %>
  </div>
</div>
