<div class="reservations-container">
  <% for @recreation in @recreations %>
    <div data-control="anchor-target" class="reservations-item" id="<%= permalink_for(@recreation.name) %>">
      <div class="panel panel-primary">
        <div class="panel-heading">
          <h3 class="panel-title"><%= @recreation.name %></h3>
        </div>
        <ul data-control="time-table" class="list-group">
          <% for @reservation in @reservations[@recreation.name] %>
            <% if reserved? @reservation %>
              <% form_for :reservation, url(:reservations, (delete_action?(@reservation) ? :destroy : :update), :id => @reservation.id), :id => reservation_anchor(@reservation), :'data-control' => "anchor-target", :method => (delete_action?(@reservation) ? :delete : :put) do |f| %>
                <%= partial 'reservations/edit', :locals => { :f => f } %>
              <% end %>
            <% else %>
              <% form_for :reservation, url(:reservations, :create), :'data-control' => "anchor-target", :id => reservation_anchor(@reservation) do |f| %>
                <%= partial 'reservations/create', :locals => { :f => f } %>
              <% end %>
            <% end %>
          <% end %>
        </ul>
      </div>
    </div>
  <% end %>
</div>
