<div id="date-filter-datepicker-template">
  <div data-control="date-filter-datepicker"></div>
</div>
<div id="user-filter-typeahead-template">
  <input type="text" class="typeahead" data-control="user-filter-typeahead" data-provide="typeahead" value="{0}">
</div>