<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
  <meta content="text/html; charset=utf-8" http-equiv="Content-Type" />
  <meta name=viewport content='width=device-width,initial-scale=1' />
  <title>Recreations 2.0</title>
  <%= stylesheet_link_tag 'bootstrap' %>
</head>
<body>
  <%= yield %>
</body>